
test_postgres: &test_postgres
  server: postgres
  adapter: postgresql
  database: shiba_test_postgres
  host: 127.0.0.1
  username: postgres
  password: ""
  encoding: utf8

test_mysql: &test_mysql
  server: mysql
  adapter: mysql2
  database: shiba_test_mysql
  host: 127.0.0.1
  username: root
  password: ""
  encoding: utf8

test:
  <<: *test_mysql
