language: ruby
cache: bundler

rvm:
 - 2.3

services:
 - mysql

before_script:
 - cp .travis/my.cnf ~/.my.cnf
 - mysql -e 'create database shiba_test;'
 - mysql shiba_test -e 'source test/structure.sql'

after_script:
 - bundle exec shiba review --submit --verbose