
.query-info-box {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.backtrace {
  font-family: monospace;
  background-color: #EEEEEE;
  padding: 5px;
  margin: 10px
}

.sql {
  font-family: monospace;
}

.badge  {
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  margin-right: 5px;
  width: 100px;
}

.shiba-badge-info {
  border-color: #78b0ec;
}

.shiba-badge-danger {
  border-color: #ff655d;
}

.shiba-badge-success {
  border-color: green;
}

.shiba-badge-warning {
  border-color: #ffb100;
}

.shiba-badge-td {
  width: 100px;
}

.shiba-messages {
  margin: 0px;
  margin-top: 10px;
  width: 100%;
}

.shiba-messages td {
  padding-top: 5px;
}

.shiba-message {
  padding-right: 10px;
  width: 90%;
}

.running-totals {
  align: right;
  font-family: monospace;
}


[v-cloak] { display: none }

