<html>
  <head>
    <title>Shiba results for <%= Time.now %></title>
    <% data[:js].each do |js| %>
      <script type="text/javascript" src="./js/<%= js %>"></script>
    <% end %>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  </head>
  <body>
    <script language="javascript">
      var data = <%= data.to_json %>;
      var byTable = {};
      var queriesByTable = [];
      data.queries.forEach(function(query) {
        query.expanded = false;
        query.loc = "foo.rb:1231";
        if ( !byTable[query.table] )
          byTable[query.table] = [];
        byTable[query.table].push(query);
      });

      Object.keys(byTable).sort().forEach(function(table) {
        queriesByTable = queriesByTable.concat(byTable[table]);
      });
    </script>

    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col">Table</div>
          <div class="col-6">Query</div>
          <div class="col">Source</div>
          <div class="col-1">Severity</div>
          <div class="col-1"></div>
        </div>
        <div v-for="query in queries">
          <div class="row">
            <div class="col">{{ query.table }}</div>
            <div class="col-6">{{ truncate(query.sql, 60) }}</div>
            <div class="col">{{ query.loc }}</div>
            <div class="col-1">{{ severity(query) }}</div>
            <div class="col-1">
              <a href="#" v-on:click="expandToggle(query)">
                <span v-if="query.expanded">-</span>
                <span v-else>+</span>
              </a>
            </div>
          </div>
          <div class="row" v-if="query.expanded">
            <div class="col-12">
              <div style="border: 1px solid black; padding: 10px; margin: 20px; ">
                <pre>{{ query.sql }}</pre>
                Stack Trace:
                <pre>
foo.rb:123
bar.rb:1313</pre>
                Query Attributes: {{ query.tags }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        queries: queriesByTable,
        messages: data.messages
      },
      methods: {
        truncate: function (string, len) {
          if ( string.length > len ) {
            return string.substring(0, len - 3) + "...";
          } else {
            return string;
          }
        },
        expandToggle: function(query) {
          query.expanded = !query.expanded;
        },
        severity: function(query) {
          if ( query.cost > 100 )
            return "high";
          else
            return "low";
        }
      }
    })
    </script>
  </body>
</html>
